<main>
  <%- include('../partials/customerSidebar') %>

  <div id="main-wrapper">
    <div class="bg-white shadow-sm p-3">
      <span class="me-3" id="sidebar-toggler-btn"
        ><i class="fas fa-bars"></i
      ></span>
      <h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
    </div>

    <div class="d-flex gap-3 flex-wrap m-4 text-white">
      <div class="bg-success rounded p-3" style="width: 100%">
        <div class="fs-1"><%= numHotels %></div>
        <div class="fs-5">available Hotels</div>
      </div>

      <div class="bg-primary rounded p-3" style="width: 250px">
        <div class="fs-1"><%= numFoodsavailable %></div>
        <div class="fs-5">available food</div>
      </div>

      <div class="bg-success rounded p-3" style="width: 250px">
        <div class="fs-1"><%= numDonors %></div>
        <div class="fs-5">avaiable donors</div>
      </div>

      <div class="bg-danger rounded p-3" style="width: 250px">
        <div class="fs-1"><%= numUsers %></div>
        <div class="fs-5">available Users</div>
      </div>
      <div class="bg-danger rounded p-3" style="width: 250px">
        <div class="fs-1"><%= numfoodslist %></div>
        <div class="fs-5">available foodslist</div>
      </div>
    </div>
  </div>
</main>
