<main>
  <%- include('../partials/customerSidebar') %>

  <div id="main-wrapper">
    <div class="bg-white shadow-sm p-3">
      <span class="me-3" id="sidebar-toggler-btn"
        ><i class="fas fa-bars"></i
      ></span>
      <h5 class="m-0 color-theme d-inline-block">MY ORDERS</h5>
    </div>

    <div class="m-4">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>_id</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% if (orderData) { %> <% orderData.forEach(order => { %>
          <tr>
            <td><%= order.customer %></td>
            <td><%= order.foodType %></td>
            <td><%= order.quantity %></td>
            <td><%= order.price %></td>
            <td><%= order.amount %></td>
          </tr>
          <% }) %> <% } else { %>
          <tr>
            <td colspan="4" class="text-center">No items in cart</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</main>
